html,
body{
  width:100%;
  height:100%;
}
#map {
  text-align: center;
  width:100%;
  height:960px;
}

html {
  overflow: hidden;
}

.snav {
  width: 20%;
}

.snav-btn {
  width: 100%;
}

.list-icon {
  float: left;
}

.apt-listing {
  margin: 5px;
  display: block;
  overflow: auto;
}

mat-divider {
  margin: 5px 0 10px 0;
}
