mat-card {
  display: block;
  overflow: auto;
  margin: 0 15%;
}

body {
  margin: 0;
  background-color: #dcdcdc;
}

mat-form-field, mat-checkbox {
  float: left;
  clear: both;
}

.add-section {
  float: left;
  margin: 10px;
}

